<h2 mat-dialog-title>Add new contact</h2>
<mat-dialog-content>
    <div class="example-container">

        <!-- Avatar Dropdown -->
        <mat-form-field appearance="fill">
            <mat-label>Avatar</mat-label>
            <mat-select [(ngModel)]="user.avatar">
                <mat-select-trigger>
                    <mat-icon svgIcon="{{ user.avatar }}"></mat-icon> {{ user.avatar }}
                </mat-select-trigger>
                <mat-option *ngFor="let avatar of avatars" [value]="avatar">
                    <mat-icon svgIcon="{{ avatar }}"></mat-icon> {{ avatar }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <br>

        <!-- Name -->
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [formControl]="name" required>
            <mat-error *ngIf="name.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>

        <br>

        <!-- Date of Birth -->
        <mat-form-field appearance="fill">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="user.birthDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <br>

        <!-- Bio -->
        <mat-form-field appearance="fill">
            <mat-label>Bio</mat-label>
            <textarea matInput [(ngModel)]="user.bio"></textarea>
        </mat-form-field>

    </div>

</mat-dialog-content>

<!-- Save / Cancel -->
<mat-dialog-actions>

    <!-- Save -->
    <button mat-button color="primary" (click)="save()">
        <mat-icon>save</mat-icon> Save
    </button>

    <!-- Cancel -->
    <button mat-button color="primary" (click)="dismiss()">
        <mat-icon>cancel</mat-icon> Cancel
    </button>

</mat-dialog-actions>
